._*
*.log
*.csv
/*
/*/
.*/
**/env/*
config.ini
.env
**/__pycache__/*
/replication-package/experiment/prometheus/data/*
!/replication-package/
!/replication-package-RQ3/
!/papers/
!.gitignore
!.gitkeep
.DS_STORE